// Colors

$off-black: #233526;
$off-white: #abbeb7;
$dark-green: #344634;
$green : #3c513d;
$light-green:#465e4c;
$brand-color:  #424e44;
$white-green: #a1994d;
//spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

// Display
$desktop-breakpoint: 45rem;
